/**
 * @name GlowyGradient
 * @author Shintensu
 * @version 1.0
 * @description GlowyGradient - A red and black/transparent theme with some gradients, neon effects, square guild and profile pictures, as well as messenger-like text bubbles.
 * @source https://github.com/Shintensu/DiscordCustomCSS
 */


@font-face {
  font-family: 'Andy';
  font-style: bold;
  src: url(https://github.com/BretStateham/ZisForZombie/raw/master/Construct%202/Demo/Assets/Art/Fonts/Andy/andyb.ttf) format('truetype');
}



:root 
{
    --hue-primary:                                               330deg;
    --hue-secondary:                                             275deg;
    --hue-tertiary:                                              000deg;

    --slight-glow:                                               0 0 0.2em hsl(var(--hue-secondary),100%,050%,100%), 0 0 0.4em hsl(var(--hue-secondary),100%,050%,100%);
    --slight-secondary-glow:                                     0 0 0.2em hsl(var(--hue-primary),100%,050%,100%),   0 0 0.4em hsl(var(--hue-primary),100%,050%,100%);
    --full-primary-glow:                                         0 0 0.1em hsl(var(--hue-secondary),100%,100%,100%), 0 0 0.2em hsl(var(--hue-secondary),100%,100%,100%), 0 0 0.3em hsl(var(--hue-secondary),100%,100%,100%), 0 0 0.4em hsl(var(--hue-secondary),100%,075%,100%),0 0 0.6em hsl(var(--hue-secondary),100%,050%,100%), 0 0 0.8em hsl(var(--hue-secondary),100%,050%,100%), 0 0 1.0em hsl(var(--hue-secondary),100%,050%,100%), 0 0 1.2em hsl(var(--hue-secondary),100%,050%,100%);
    --full-secondary-glow:                                       0 0 0.1em hsl(var(--hue-primary),100%,100%,100%), 0 0 0.2em hsl(var(--hue-primary),100%,100%,100%), 0 0 0.3em hsl(var(--hue-primary),100%,100%,100%), 0 0 0.4em hsl(var(--hue-primary),100%,075%,100%),0 0 0.6em hsl(var(--hue-primary),100%,050%,100%), 0 0 0.8em hsl(var(--hue-primary),100%,050%,100%), 0 0 1.0em hsl(var(--hue-primary),100%,050%,100%), 0 0 1.2em hsl(var(--hue-primary),100%,050%,100%);
    --inset-primary-glow:                                        inset 0 0 0.1em hsl(var(--hue-secondary),100%,100%,100%), inset 0 0 0.2em hsl(var(--hue-secondary),100%,100%,100%), inset 0 0 0.3em hsl(var(--hue-secondary),100%,100%,100%), inset 0 0 0.4em hsl(var(--hue-secondary),100%,075%,100%), inset 0 0 0.6em hsl(var(--hue-secondary),100%,050%,100%), inset 0 0 0.8em hsl(var(--hue-secondary),100%,050%,100%), inset 0 0 1.0em hsl(var(--hue-secondary),100%,050%,100%), inset 0 0 1.2em hsl(var(--hue-secondary),100%,050%,100%);

    --linear-gradient-horizontal:                                linear-gradient(90deg, hsl(var(--hue-primary),080%,030%,100%), hsl(var(--hue-secondary),080%,030%,050%));
    --linear-gradient-horizontal-inverted:                       linear-gradient(90deg, hsl(var(--hue-secondary),080%,030%,100%), hsl(var(--hue-primary),080%,030%,050%));


    font-family:                                                 Andy;
    --font-primary:                                              Andy;
    --font-display:                                              Andy;
    --font-headline:                                             Andy;
      
    background-image:                                            url(https://cdn.discordapp.com/attachments/1003429432314306600/1016145989029072956/PinkUmbraveonFull.png);
    opacity:                                                     1;
    background-size:                                             cover;
}



.theme-dark {
    --toast-background:                                          rgb(000 000 000 / 050%);
    --toast-header:                                              rgb(000 000 000 / 050%);
    --toast-contents:                                            rgb(000 000 000 / 050);
    --toast-box-shadow:                                          rgb(000 000 000 / 050%);
    --toast-border:                                              rgb(000 000 000 / 050%);
  
  
    --search-popout-option-fade:                                 linear-gradient(90deg,hsla(225,calc(var(--saturation-factor, 1)*7.7%),10.2%,0),hsla(225,calc(var(--saturation-factor, 1)*7.7%),10.2%,1) 80%);
    --search-popout-option-fade-hover:                           linear-gradient(90deg,hsla(220,calc(var(--saturation-factor, 1)*7.7%),22.9%,0),hsl(220,calc(var(--saturation-factor, 1)*7.7%),22.9%) 50%);
    --search-popout-option-user-nickname:                        var(--text-normal);
    --search-popout-option-user-username:                        var(--text-muted);
    --search-popout-option-filter-text:                          rgb(000 000 000 / 100%);
    --search-popout-option-non-text-color:                       rgb(80 30 180 / 30%);
    --search-popout-option-filter-color:                         rgb(80 30 180 / 30%);
    --search-popout-option-answer-color:                         rgb(80 30 180 / 30%);
    --search-popout-date-picker-border:                          1px solid hsla(214,calc(var(--saturation-factor, 1)*9.1%),15.1%,0.3);
    --search-popout-date-picker-hint-text:                       rgb(80 30 180 / 30%);
    --search-popout-date-picker-hint-value-text:                 rgb(80 30 180 / 30%);
    --search-popout-date-picker-hint-value-background:           var(--brand-experiment);
    --search-popout-date-picker-hint-value-background-hover:     var(--brand-experiment-430);
  
  
    --focus-primary:                                             rgb(000 000 000 / 050%); /* ??? */
 
    --header-primary:                                            hsl(var(--hue-primary),  calc(var(--saturation-factor, 1)*100%),090%,100%); /* Main Header, Names, Server Names and Selector */
    --header-secondary:                                          hsl(var(--hue-primary),  calc(var(--saturation-factor, 1)*100%),080%,100%); /* Secondary Header, Status, User Detail header */
    --text-normal:                                               hsl(var(--hue-primary),  calc(var(--saturation-factor, 1)*100%),070%,100%); /* General Text Color, Clyde logo and Letters for servers without picture */
    --text-muted:                                                hsl(var(--hue-primary),  calc(var(--saturation-factor, 1)*100%),080%,100%); /* Soft/Muted text */
    --text-link:                                                 hsl(var(--hue-secondary),calc(var(--saturation-factor, 1)*100%),048%,100%); /* Links */
    --text-link-low-saturation:                                  hsl(var(--hue-secondary),calc(var(--saturation-factor, 1)*100%),053%,100%); /* Recently used links */
    --text-positive:                                             hsl(var(--hue-primary),  calc(var(--saturation-factor, 1)*020%),052%,100%); /* Voice connected */
    --text-warning:                                              hsl(var(--hue-primary),  calc(var(--saturation-factor, 1)*096%),054%,100%);
    --text-danger:                                               hsl(var(--hue-primary),  calc(var(--saturation-factor, 1)*082%),074%,100%);
    --text-brand:                                                hsl(var(--hue-primary),  calc(var(--saturation-factor, 1)*086%),078%,100%); /* Send Message Button */
    --interactive-normal:                                        hsl(var(--hue-primary),  calc(var(--saturation-factor, 1)*100%),074%,100%); /* Buttons */
    --interactive-hover:                                         hsl(var(--hue-primary),  calc(var(--saturation-factor, 1)*050%),087%,100%); /* Button hover highlight */
    --interactive-active:                                        hsl(var(--hue-primary),  calc(var(--saturation-factor, 1)*000%),100%,100%); /* Button select highlight */
    --interactive-muted:                                         hsl(var(--hue-primary),  calc(var(--saturation-factor, 1)*050%),034%,100%); /* Button soft/inactive */
    --background-primary:                                        hsl(var(--hue-primary),  calc(var(--saturation-factor, 1)*008%),000%,010%); /* Main Chat window */
    --background-secondary:                                      hsl(var(--hue-primary),  calc(var(--saturation-factor, 1)*007%),000%,020%); /* Sidebar */
    --background-secondary-alt:                                  hsl(var(--hue-primary),  calc(var(--saturation-factor, 1)*007%),000%,050%); /* Account bar */
    --background-tertiary:                                       hsl(var(--hue-primary),  calc(var(--saturation-factor, 1)*007%),000%,030%); /* Overall background */
    --background-accent:                                         hsl(var(--hue-primary),  calc(var(--saturation-factor, 1)*008%),000%,040%); 
    --background-floating:                                       hsl(var(--hue-primary),  calc(var(--saturation-factor, 1)*008%),000%,050%); /* Float menu background */
    --background-nested-floating:                                hsl(var(--hue-primary),  calc(var(--saturation-factor, 1)*007%),000%,100%); 
    --background-mobile-primary:                                 hsl(var(--hue-primary),  calc(var(--saturation-factor, 1)*008%),000%,100%);
    --background-mobile-secondary:                               hsl(var(--hue-primary),  calc(var(--saturation-factor, 1)*007%),000%,100%);
    --chat-background:                                           hsl(var(--hue-primary),  calc(var(--saturation-factor, 1)*008%),000%,100%);
    --chat-border:                                               hsl(var(--hue-primary),  calc(var(--saturation-factor, 1)*007%),000%,100%);
    --chat-input-container-background:                           hsl(var(--hue-primary),  calc(var(--saturation-factor, 1)*008%),000%,100%);
    --background-modifier-hover:                                 hsl(var(--hue-primary),  calc(var(--saturation-factor, 1)*008%),034%,040%); /* Channel hover Highlight */
    --background-modifier-active:                                hsl(var(--hue-primary),  calc(var(--saturation-factor, 1)*008%),034%,050%); /* Channel switch Highlight */
    --background-modifier-selected:                              hsl(var(--hue-primary),  calc(var(--saturation-factor, 1)*008%),034%,060%); /* Channel select Highlight */
    --background-modifier-accent:                                hsl(var(--hue-primary),  calc(var(--saturation-factor, 1)*008%),034%,050%);
    --info-positive-background:                                  hsl(var(--hue-secondary),calc(var(--saturation-factor, 1)*047%),044%,010%);
    --info-positive-foreground:                                  hsl(var(--hue-secondary),calc(var(--saturation-factor, 1)*047%),044%,100%);
    --info-positive-text:                                        hsl(var(--hue-secondary),calc(var(--saturation-factor, 1)*000%),100%,100%);
    --info-warning-background:                                   hsl(var(--hue-primary),  calc(var(--saturation-factor, 1)*096%),054%,010%);
    --info-warning-foreground:                                   hsl(var(--hue-primary),  calc(var(--saturation-factor, 1)*096%),054%,100%);
    --info-warning-text:                                         hsl(var(--hue-primary),  calc(var(--saturation-factor, 1)*000%),100%,100%);
    --info-danger-background:                                    hsl(var(--hue-primary),  calc(var(--saturation-factor, 1)*083%),059%,010%);
    --info-danger-foreground:                                    hsl(var(--hue-primary),  calc(var(--saturation-factor, 1)*083%),059%,100%);
    --info-danger-text:                                          hsl(var(--hue-primary),  calc(var(--saturation-factor, 1)*000%),100%,100%);
    --info-help-background:                                      hsl(var(--hue-secondary),calc(var(--saturation-factor, 1)*100%),048%,010%);
    --info-help-foreground:                                      hsl(var(--hue-secondary),calc(var(--saturation-factor, 1)*100%),048%,100%);
    --info-help-text:                                            hsl(var(--hue-secondary),calc(var(--saturation-factor, 1)*000%),100%,100%);
    --status-positive-background:                                hsl(var(--hue-secondary),calc(var(--saturation-factor, 1)*047%),038%,100%);
    --status-positive-text:                                      hsl(var(--hue-secondary),calc(var(--saturation-factor, 1)*000%),100%,100%);
    --status-warning-background:                                 hsl(var(--hue-secondary),calc(var(--saturation-factor, 1)*096%),054%,100%);
    --status-warning-text:                                       hsl(var(--hue-secondary),calc(var(--saturation-factor, 1)*000%),000%,100%);
    --status-danger-background:                                  hsl(var(--hue-secondary),calc(var(--saturation-factor, 1)*083%),059%,100%);
    --status-danger-text:                                        hsl(var(--hue-secondary),calc(var(--saturation-factor, 1)*000%),100%,100%);
    --status-danger:                                             hsl(var(--hue-secondary),calc(var(--saturation-factor, 1)*083%),059%,100%); /* Pings, new message notifications, warnings */
    --status-positive:                                           hsl(var(--hue-secondary),calc(var(--saturation-factor, 1)*047%),044%,100%);
    --status-warning:                                            hsl(var(--hue-secondary),calc(var(--saturation-factor, 1)*096%),054%,100%);
    --button-danger-background:                                  rgb(000 000 000 / 000%);
    --button-danger-background-hover:                            rgb(000 000 000 / 000%);
    --button-danger-background-active:                           rgb(000 000 000 / 000%);
    --button-danger-background-disabled:                         rgb(000 000 000 / 000%);
    --button-positive-background:                                rgb(000 000 000 / 000%);
    --button-positive-background-hover:                          rgb(000 000 000 / 000%);
    --button-positive-background-active:                         rgb(000 000 000 / 000%);
    --button-positive-background-disabled:                       rgb(000 000 000 / 000%);
    --button-secondary-background:                               rgb(000 000 000 / 000%);
    --button-secondary-background-hover:                         rgb(000 000 000 / 000%);
    --button-secondary-background-active:                        rgb(000 000 000 / 000%);
    --button-secondary-background-disabled:                      rgb(000 000 000 / 000%);
    --button-outline-danger-text:                                rgb(000 000 000 / 000%);
    --button-outline-danger-border:                              rgb(000 000 000 / 000%);
    --button-outline-danger-background:                          rgb(000 000 000 / 000%);
    --button-outline-danger-background-hover:                    rgb(000 000 000 / 000%);
    --button-outline-danger-text-hover:                          rgb(000 000 000 / 000%);
    --button-outline-danger-border-hover:                        rgb(000 000 000 / 000%);
    --button-outline-danger-background-active:                   rgb(000 000 000 / 000%);
    --button-outline-danger-text-active:                         rgb(000 000 000 / 000%);
    --button-outline-danger-border-active:                       rgb(000 000 000 / 000%);
    --button-outline-positive-text:                              rgb(000 000 000 / 000%);
    --button-outline-positive-border:                            rgb(000 000 000 / 000%);
    --button-outline-positive-background:                        rgb(000 000 000 / 000%);
    --button-outline-positive-background-hover:                  rgb(000 000 000 / 000%);
    --button-outline-positive-text-hover:                        rgb(000 000 000 / 000%);
    --button-outline-positive-border-hover:                      rgb(000 000 000 / 000%);
    --button-outline-positive-background-active:                 rgb(000 000 000 / 000%);
    --button-outline-positive-text-active:                       rgb(000 000 000 / 000%);
    --button-outline-positive-border-active:                     rgb(000 000 000 / 000%);
    --button-outline-brand-text:                                 rgb(000 000 000 / 000%);
    --button-outline-brand-border:                               rgb(000 000 000 / 000%);
    --button-outline-brand-background:                           rgb(000 000 000 / 000%);
    --button-outline-brand-background-hover:                     rgb(000 000 000 / 000%);
    --button-outline-brand-text-hover:                           rgb(000 000 000 / 000%);
    --button-outline-brand-border-hover:                         rgb(000 000 000 / 000%);
    --button-outline-brand-background-active:                    rgb(000 000 000 / 000%);
    --button-outline-brand-text-active:                          rgb(000 000 000 / 000%);
    --button-outline-brand-border-active:                        rgb(000 000 000 / 000%);
    --button-outline-primary-text:                               rgb(000 000 000 / 000%);
    --button-outline-primary-border:                             rgb(000 000 000 / 000%);
    --button-outline-primary-background:                         rgb(000 000 000 / 000%);
    --button-outline-primary-background-hover:                   rgb(000 000 000 / 000%);
    --button-outline-primary-text-hover:                         rgb(000 000 000 / 000%);
    --button-outline-primary-border-hover:                       rgb(000 000 000 / 000%);
    --button-outline-primary-background-active:                  rgb(000 000 000 / 000%);
    --button-outline-primary-text-active:                        rgb(000 000 000 / 000%);
    --button-outline-primary-border-active:                      rgb(000 000 000 / 000%);
    --modal-background:                                          rgb(000 000 000 / 000%);
    --modal-footer-background:                                   rgb(000 000 000 / 000%);
    --scrollbar-thin-thumb:                                      rgb(000 000 000 / 000%);
    --scrollbar-thin-track:                                      rgb(000 000 000 / 000%);
    --scrollbar-auto-thumb:                                      rgb(000 000 000 / 000%);
    --scrollbar-auto-track:                                      rgb(000 000 000 / 000%);
    --scrollbar-auto-scrollbar-color-thumb:                      rgb(000 000 000 / 000%);
    --scrollbar-auto-scrollbar-color-track:                      rgb(000 000 000 / 000%);
    --input-background:                                          rgb(000 000 000 / 100%);
    --input-placeholder-text:                                    rgb(000 000 000 / 100%);
    --logo-primary:                                              rgb(000 000 000 / 000%);
    --control-brand-foreground:                                  rgb(000 000 000 / 000%);
    --control-brand-foreground-new:                              rgb(000 000 000 / 000%);
    --background-mentioned:                                      hsla(var(--hue-primary),  calc(var(--saturation-factor, 1)*096%),054%,010%); /* Mention highlight */
    --background-mentioned-hover:                                hsla(var(--hue-primary),  calc(var(--saturation-factor, 1)*096%),054%,008%); /* Mention highlight on hover*/
    --background-message-hover:                                  hsla(var(--hue-primary),  calc(var(--saturation-factor, 1)*011%),002%,007%); /* Message highlight on hover*/
    --background-message-automod:                                rgb(000 000 000 / 000%);
    --background-message-automod-hover:                          rgb(000 000 000 / 000%);
    --background-message-highlight:                              rgb(000 000 000 / 000%);
    --background-message-highlight-hover:                        rgb(000 000 000 / 000%);
    --channels-default:                                          hsla(var(--hue-primary),  calc(var(--saturation-factor, 1)*080%),060%,100%); /* Channel and user list */
    --channel-icon:                                              hsla(var(--hue-primary),  calc(var(--saturation-factor, 1)*081%),058%,100%); /* Channel symbol */
    --channel-text-area-placeholder:                             hsla(var(--hue-primary),  calc(var(--saturation-factor, 1)*082%),047%,100%); /* Message box text */
    --channeltextarea-background:                                hsla(var(--hue-primary),  calc(var(--saturation-factor, 1)*085%),027%,000%); /* Message box background */
    --activity-card-background:                                  rgb(000 000 000 / 000%);
    --textbox-markdown-syntax:                                   hsla(var(--hue-primary),  calc(var(--saturation-factor, 1)*004%),058%,100%); /* Message box markdown */
    --spoiler-revealed-background:                               rgb(000 000 000 / 000%);
    --spoiler-hidden-background:                                 rgb(000 000 000 / 000%);
    --android-navigation-bar-background:                         rgb(000 000 000 / 000%);
    --android-ripple:                                            rgb(000 000 000 / 000%);
    --deprecated-card-bg:                                        rgb(000 000 000 / 000%);
    --deprecated-card-editable-bg:                               rgb(000 000 000 / 000%);
    --deprecated-store-bg:                                       rgb(000 000 000 / 000%);
    --deprecated-quickswitcher-input-background:                 rgb(000 000 000 / 000%);
    --deprecated-quickswitcher-input-placeholder:                rgb(000 000 000 / 000%);
    --deprecated-text-input-bg:                                  rgb(000 000 000 / 000%);
    --deprecated-text-input-border:                              rgb(000 000 000 / 000%);
    --deprecated-text-input-border-hover:                        rgb(000 000 000 / 000%);
    --deprecated-text-input-border-disabled:                     rgb(000 000 000 / 000%);
    --deprecated-text-input-prefix:                              rgb(000 000 000 / 000%);


  
    --guild-header-text-shadow:                                  0 1px 1px hsla(0,calc(var(--saturation-factor, 1)*0%),0%,0.4);
    --elevation-stroke:                                          0 0 0 1px hsla(240,calc(var(--saturation-factor, 1)*11.1%),1.8%,0.15);
    --elevation-low:                                             0 1px 0 hsla(240,calc(var(--saturation-factor, 1)*11.1%),1.8%,0.2),0 1.5px 0 hsla(240,calc(var(--saturation-factor, 1)*7.7%),2.5%,0.05),0 2px 0 hsla(240,calc(var(--saturation-factor, 1)*11.1%),1.8%,0.05);
    --elevation-medium:                                          0 4px 4px hsla(0,calc(var(--saturation-factor, 1)*0%),0%,0.16);
    --elevation-high:                                            0 8px 16px hsla(0,calc(var(--saturation-factor, 1)*0%),0%,0.24);
  
    --brightness:                                                calc(1.5 - var(--saturation-factor, 1)*0.5);
    --contrast:                                                  var(--saturation-factor,1); 
}

.theme-dark .container-2cd8Mz {
    background-color:                                            rgb(000 000 000 / 000%);
}

[data-popout-root], html {
    --brand-experiment-100:                                      rgb(000 000 000 / 000%);
    --brand-experiment-130:                                      rgb(000 000 000 / 000%);
    --brand-experiment-160:                                      rgb(000 000 000 / 000%);
    --brand-experiment-200:                                      hsla(var(--hue-primary),  calc(var(--saturation-factor, 1)*083%),093%,100%); /* Mention and bio Text */ 
    --brand-experiment-230:                                      rgb(000 000 000 / 000%);
    --brand-experiment-260:                                      rgb(000 000 000 / 000%);
    --brand-experiment-300:                                      rgb(000 000 000 / 000%);
    --brand-experiment-330:                                      rgb(000 000 000 / 000%);
    --brand-experiment-360:                                      rgb(000 000 000 / 000%);
    --brand-experiment-400:                                      rgb(000 000 000 / 000%);
    --brand-experiment-430:                                      hsla(var(--hue-primary),  calc(var(--saturation-factor, 1)*086%),070%,100%); /* Send Message Button fade out */
    --brand-experiment-460:                                      rgb(000 000 000 / 000%);
    --brand-experiment:                                          hsla(var(--hue-primary),  calc(var(--saturation-factor, 1)*086%),065%,100%); /* Highlight bar for new messages and clyde icon, as well as some buttons */
    --brand-experiment-500:                                      rgb(000 000 000 / 000%);
    --brand-experiment-530:                                      rgb(000 000 000 / 000%);
    --brand-experiment-560:                                      rgb(000 000 000 / 000%);
    --brand-experiment-600:                                      rgb(000 000 000 / 000%);
    --brand-experiment-630:                                      rgb(000 000 000 / 000%);
    --brand-experiment-660:                                      rgb(000 000 000 / 000%);
    --brand-experiment-700:                                      rgb(000 000 000 / 000%);
    --brand-experiment-730:                                      rgb(000 000 000 / 000%);
    --brand-experiment-760:                                      rgb(000 000 000 / 000%);
    --brand-experiment-800:                                      rgb(000 000 000 / 000%);
    --brand-experiment-830:                                      rgb(000 000 000 / 000%);
    --brand-experiment-860:                                      rgb(000 000 000 / 000%);
    --brand-experiment-900:                                      rgb(000 000 000 / 000%);
    --brand-experiment-05a:                                      rgb(000 000 000 / 000%);
    --brand-experiment-10a:                                      rgb(000 000 000 / 000%);
    --brand-experiment-15a:                                      rgb(000 000 000 / 000%);
    --brand-experiment-20a:                                      rgb(000 000 000 / 000%);
    --brand-experiment-25a:                                      rgb(000 000 000 / 000%);
    --brand-experiment-30a:                                      hsla(var(--hue-primary),  calc(var(--saturation-factor, 1)*086%),065%,030%); /* Mention Background */ 
    --brand-experiment-35a:                                      rgb(000 000 000 / 000%);
    --brand-experiment-40a:                                      rgb(000 000 000 / 000%);
    --brand-experiment-45a:                                      rgb(000 000 000 / 000%);
    --brand-experiment-50a:                                      rgb(000 000 000 / 000%);
    --brand-experiment-55a:                                      rgb(000 000 000 / 000%);
    --brand-experiment-60a:                                      rgb(000 000 000 / 000%);
    --brand-experiment-65a:                                      rgb(000 000 000 / 000%);
    --brand-experiment-70a:                                      rgb(000 000 000 / 000%);
    --brand-experiment-75a:                                      rgb(000 000 000 / 000%);
    --brand-experiment-80a:                                      rgb(000 000 000 / 000%);
    --brand-experiment-85a:                                      rgb(000 000 000 / 000%);
    --brand-experiment-90a:                                      rgb(000 000 000 / 000%);
    --brand-experiment-95a:                                      rgb(000 000 000 / 000%);


}                                                                 


/* Emote autocomplete picker background */
.theme-dark .autocomplete-3NRXG8 {
    background-color: var(--background-secondary);
}

/* @Mentions */
.theme-dark .wrapper-1ZcZW- {
    box-shadow: var(--full-primary-glow);
}

/* Code block text*/
.codeBlockText-28BOxV, .codeLine-2C-9aH {
    color: var(--background-floating);
}

/* Voice channel chat */
.container-3XgAHv {
    border-radius: 0px;
    background: var(--background-secondary-alt);
}

/* Text area box */
.form-3gdLxP {
     padding: 0px;
}
.channelTextArea-1VQBuV {
    border-radius: 0px;
    background-image: var(--linear-gradient-horizontal);
}
.channelTextArea-1FufC0 {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* Jump to present bar */
/*
.jumpToPresentBar-1cEnH0 {
    width: 100%;
    left: 0px;
    padding: 0px;
    margin-bottom: 18px;
    border-radius: 0;
}
*/
/* Typing indicator */
.base-3bcbY3 {
    top: -24px;
}

/* Emote picker button */
.sprite-2lxwfc {
    background-image: url(https://cdn.discordapp.com/attachments/1008215120285012019/1008216460092506112/Phoxy.png); 
}

/* Attach button */
.attachButtonPlus-3IYelE {
    fill:  hsl(var(--hue-primary),000%,000%,100%);
}

/* Reply bar */
.attachedBars-2BCP3l {
    border-radius: 0px;
}
.clipContainer-31nYlH {
    padding-top: 0px;
    margin-top: -10px;
}
.replyBar-1oi75v {
    border-radius: 0px;
}

/* Reply @*/
.mentionIcon-7MlVnE {
    width: 0px;
    height: 0px;
    margin-right: 4px;
}

/* Unread Message Divider */
.isUnread-3Lojb- {
    padding-top: 10px;
}

/* Links */
.markup-eYLPri a {
    text-shadow: var(--slight-glow);
}
.colorLink-12GX9V {
    color: hsl(var(--hue-secondary),100%,050%,100%);
    text-shadow: var(--slight-glow);
    content: 'Hello';
}

/* Replies */
.executedCommand-14-SNW, .repliedMessage-3Z6XBG, .threadMessageAccessory-2W9mjC {
    top: -16px;
    justify-content: center;
}
.hasReply-2Cr4KE {
    margin-top: 1.0625rem;
    margin-bottom: 2.2rem;
}
.executedCommand-14-SNW[data-is-author-self="true"], .repliedMessage-3Z6XBG[data-is-author-self="true"], .threadMessageAccessory-2W9mjC[data-is-author-self="true"] {
    left: 0px;
    right: auto;
}
/* Reply Bar "thread" line */
.repliedMessage-3Z6XBG:before {
    --spine-width: 5px;
    top: 50%;
    right: 90%;
    border-radius: 0px;
}




 /* Chat Bubbles */



 /* Images */
.imageWrapper-oMkQl4 {
    margin-left: 0px;
    border-radius: 0px;
    box-shadow: var(--full-secondary-glow);
}
.container-2sjPya{
    margin-left: -20px;
    margin-right: auto;
    width: fit-content;
}
#app-mount .message-2CShn3[data-is-author-self="true"] .container-2sjPya{
    margin-left: auto;
    margin-right: -16px;
    width: fit-content;
}
.embed-hKpSrO {
    contain: unset;
    border-radius: 0px;
}

/* Chat messages */
#app-mount .message-2CShn3 .contents-2MsGLg .messageContent-2t3eCI {
    margin-left: -20px;
    padding: 2px;
    width: fit-content;
    border-radius: 0px;
    background-color: var(--background-secondary);
    background-image: var(--linear-gradient-horizontal);
    box-shadow: var(--slight-secondary-glow); 
}
#app-mount .message-2CShn3[data-is-author-self="true"] .contents-2MsGLg .messageContent-2t3eCI {
    margin-left: auto;
    margin-right: 4px;
    background-image: var(--linear-gradient-horizontal-inverted);
}

/* Search Results */
#app-mount .wrapper-30-Nkg[data-is-author-self="true"][id*="search-result"]  .messageContent-2t3eCI {
    margin-left:  -48px;
    padding-left: 0px;
    width: 100%;
}
.message-24k8JL {
    padding: 16px 0;
}

.searchResult-O9NDji {
    border-radius: 0px;
    margin-bottom: 4px;
    overflow: hidden;
}

/* Avatars */
#app-mount .avatar-2e8lTP {
    left: 0px;
    margin: 0px;
}
#app-mount .wrapper-30-Nkg[data-is-author-self="true"] .avatar-2e8lTP {
    left: unset;
    right: 0px;
}

/* Usernames */
.zalgo-26OfGz.cozy-VmLDNB .header-2jRmjb {
    left: 0px;
    position: absolute;
    margin-top: -22px;
}
.zalgo-26OfGz.cozy-VmLDNB[data-is-author-self="true"] .header-2jRmjb {
    right: 0px;
    left: auto;
}

/* Square PFPs */



/* SVG Mask */
foreignObject {
    mask: url();
}

.wrapper-1VLyxH {
    border-radius: 0%;
}
.avatar-2e8lTP {
    border-radius: 0%;
}
.avatar-3FKimL {
    border-radius: 0%;
}
.wrapperSimple-Js2rIO {
    border-radius: 0%;
}



/* Status Indicator*/
rect[class="pointerEvents-9SZWKj"] {
    fill: hsl(var(--hue-secondary),100%,050%,100%);
}

/* Voice channel chat preview */
.chatToasts-3oZ62v {
    position: absolute;
    top: 48px;
    right: 12px;
    width: 304px;
    height: 50%;
    overflow: hidden;
    pointer-events: none;
    opacity: 50%;
}

/* Video and Screen button */
.button-1EGGcP.buttonColor-3bP3fX, .button-1EGGcP .buttonColor-3bP3fX {
    background-color: hsl(var(--hue-secondary),100%,050%,100%);
    color: hsl(var(--hue-primary),000%,000%,100%);
    padding: 0px;
}
.button-1EGGcP{
    box-shadow: var(--full-primary-glow);
}
.button-1EGGcP.buttonColor-3bP3fX:hover, .button-1EGGcP .buttonColor-3bP3fX:hover {
    background-color: , hsl(var(--hue-secondary),100%,030%,100%); 
}
.button-1EGGcP.buttonColor-3bP3fX.buttonActive-Uc1jHx, .button-1EGGcP .buttonColor-3bP3fX.buttonActive-Uc1jHx {
    background-color: hsl(var(--hue-primary),100%,050%,100%);
    color: hsl(var(--hue-primary),000%,000%,100%);
    box-shadow: var(--full-secondary-glow);
}
.button-1EGGcP.buttonColor-3bP3fX.buttonActive-Uc1jHx:hover, .button-1EGGcP .buttonColor-3bP3fX.buttonActive-Uc1jHx:hover {
    background-color: hsl(var(--hue-primary),100%,030%,100%);
}

/* All buttons */
.button-f2h6uQ {
    border-radius: 0px;
}
.lookFilled-yCfaCM.colorGreen-3y-Z79 {
    color: hsl(var(--hue-primary),000%,000%,100%);
    background-color: hsl(var(--hue-secondary),100%,050%,100%);
    box-shadow: var(--full-primary-glow);
}
.lookFilled-yCfaCM.colorGreen-3y-Z79:hover {
    background-color: hsl(var(--hue-primary),100%,030%,100%);
}

/* Call Buttons */
.controlButton-2PMNom {
    margin: 0 1px;
}
.wrapper-3t3Yqv {
    box-shadow: var(--full-secondary-glow);
}
.colorable-3rVGna.primaryDark-2UJt1G, .colorable-3rVGna.primaryDark-2UJt1G .centerIcon-JYpTUi {
    color: hsl(var(--hue-primary),000%,000%,100%);
}
.colorable-3rVGna.primaryDark-2UJt1G {
    background: hsl(var(--hue-primary),100%,050%,100%);
    box-shadow: var(--full-secondary-glow);
}
.colorable-3rVGna.white-11auuQ, .colorable-3rVGna.white-11auuQ .centerIcon-JYpTUi {
    color: hsl(var(--hue-primary),000%,000%,100%);
}
.colorable-3rVGna.white-11auuQ {
    background: hsl(var(--hue-primary),000%,100%,100%);
    box-shadow: var(--full-secondary-glow);
}
.colorable-3rVGna.primaryDark-2UJt1G.active-3D763s, .colorable-3rVGna.primaryDark-2UJt1G:hover {
    background: hsl(var(--hue-primary),000%,100%,100%);
}
.colorable-3rVGna.red-3T8maV, .colorable-3rVGna.red-3T8maV .centerIcon-JYpTUi {
    color: hsl(var(--hue-primary),000%,000%,100%);
}
.colorable-3rVGna.red-3T8maV {
    background: hsl(var(--hue-secondary),100%,050%,100%);
    box-shadow: var(--full-primary-glow);
}

/* User Speaking Highlight*/
.avatarSpeaking-2pCGrZ {
    box-shadow: var(--full-primary-glow);
}
.border-2Vy6FN.speaking-7QZEkv {
	box-shadow: var(--inset-primary-glow);
}
.avatarSpeaking-33RRJU {
    box-shadow: var(--inset-primary-glow);
    border-radius: 0%;
}

/* User Speaking Highlight in private call */
.border-2BJQjd.speaking-3RWJBr {
    box-shadow: var(--full-primary-glow);
}

/* Voice chat background and gradient */
.gradientContainer-phMG8d {
    height: 160px;
    background-color: var(--background-floating);
    background-image: none;
}





/* Server list at top */
.wrapper-1_HaEi {
    flex-direction: row;
    padding-top: 0px;
    padding-bottom: 0px;
}

.tree-3agP2X {
    width: 100%;
    height: fit-content;
    overflow-x: scroll;
    overflow-y: hidden;
}

.guilds-2JjMmN {
    width: auto;
    height: 64px;
    flex-shrink: 0;
}

.container-1eFtFS {
    display: flex;
    flex-direction: column;
}

.platform-osx .scroller-3X7KbA, .platform-win .scroller-3X7KbA {
    padding-top: 8px;
    padding-bottom: 0px;
    height: 64px;
    display: flex;
    flex-direction: row;
    overflow-x: scroll !important;
    overflow-y: hidden !important;
}

.listItem-3SmSlK {
    width: 64px;
    height: 48px;
}

div[aria-label="Servers"] {
    display: flex;
    flex-direction: row;
    scroll-padding-right: 8px;
}

.unreadMentionsBar-ZXXoOH {
    height: 48px;
    width: 24px;
    border-radius: 0px;
}

.unreadMentionsIndicatorBottom-3RJMnQ, .unreadMentionsIndicatorTop-2bTgUU {
    height: 64px;
}

/* Seperator thingy? made it 0px so it doesnt ruin the layout */
.guildSeparator-a4uisj {
    width: 0px;
}

/* Server folder fix */
div[class="wrapper-38slSD expanded"]{
    display: flex;
    width: fit-content;
}
ul[id*="folder-items"]{
    display: flex;
}